<mat-card>
    <mat-card-title>Novo Hospede</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="hospede.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF" [(ngModel)]="hospede.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Celular" [(ngModel)]="hospede.celular" name="celular">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="hospede.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" [(ngModel)]="hospede.endereco" name="endereco">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createHospede()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>